:root {
  --color-primary: #2584ff;
  --color-border: #eee;
  --color-disabled: rgba(0, 0, 0, 0.38);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.page {
  width: 100vw;
  min-height: 100vh;
}

/* Navbar */

.hamburger {
  position: fixed;
  z-index: 1000;
  right: 10px;
  top: 10px;
}

.hamburger i {
  font-size: 25px;
}

.mobile__nav__item {
  background-color: var(--color-border);
  border-radius: 100px;
  padding: 15px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.mobile__nav__item:hover {
  color: white;
  background-color: var(--color-primary);
}

nav {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  padding: 0 1rem;
}

.nav__item {
  margin-bottom: 1rem;
  white-space: nowrap;
  border-radius: 100px;

  width: 55px;
  background-color: var(--color-border);
  overflow: hidden;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.nav__item a {
  padding: 1rem 1.3rem 1rem 1rem;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav__item i {
  margin-left: 0.2rem;
  margin-right: 0.5rem;
  transition: 0.2s ease-in-out;
}

.fa-user {
  position: relative;
  left: 1px;
}

.nav__item span {
  display: none;
}

.nav__item:hover {
  width: 100%;
  background-color: orange;
}

.nav__item:hover i {
  background-color: orange;
}

.nav__item:hover span {
  display: inline-block;
}

/* Home */

#home {
  background-image: url('../images/human-4.jpg');
  background-size: cover;
  background-position: 77%;

  display: flex;
  align-items: center;
}

#home::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home__content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__content h1 {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

@media screen and (min-width: 762px) {
  #home {
    background-position: top;
    padding-left: 16rem;
  }

  .home__content {
    width: fit-content;
  }

  .home__content h1 {
    font-size: 4rem;
  }

  .home__content p {
    font-size: 1.5rem;
  }
}

/* About */
/* About */
#about {
  padding: 1rem;
}

.header h2 {
  font-weight: 600;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 2rem;

  position: relative;
}

.header h2::after {
  content: ' ';
  display: block;
  width: 40px;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

.header p {
  text-align: center;
  font-size: 0.8rem;
}

.about__img {
  width: 100%;
  height: 400px;
  background-image: url('../images/human-5.webp');
  background-size: cover;
  background-position: center;
}

.infomation__detail {
  padding: 2rem 0;
}

.infomation__detail h3 {
  text-align: center;
  margin-bottom: 1.4rem;
}

.info {
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--color-disabled);
  border-radius: 5px;
  color: var(--color-disabled);
  margin-bottom: 1rem;

  position: relative;
}

.info span {
  position: absolute;
  top: -10px;
  background-color: white;
  padding: 0 5px;
  color: #999;
  font-size: 0.8rem;
}

.info p {
  margin: 0;
}

.info:hover {
  border-color: var(--color-primary);
}

.info:hover span,
.info:hover p {
  color: var(--color-primary);
}

@media screen and (min-width: 762px) {
  .about__information {
    display: flex;
    margin-top: 3rem;
  }

  .infomation__detail {
    flex-grow: 1;
    padding: 0 2rem;
  }

  .about__img {
    width: 400px;
    height: 380px;
  }

  .infomation__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
}

/* Skill */

.progress__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 762px) {
  .progress__container {
    display: grid !important;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .progress__bar {
    margin-bottom: 1rem;
  }
}

/* Contact */
