body {
  margin: 0;
}

table {
  border-collapse: collapse;
}

td {
  width: 50vw;
  height: 100vh;
}

td:nth-child(1) {
  background-color: dodgerblue;
}

td:nth-child(2) {
  background-color: gold;
}
